.list-container{
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
    padding: 20px;
}
.isbn{
    padding-right: 10px;
    margin-right: 10px;
    display: inline-block;
}

.year{
    padding-right: 10px;
    margin-right: 10px;
    display: inline-block;
}

.genre{
    padding-left: 10px;
    margin-left: 10px;
    display: inline-block;
}

.pages{
    padding-left: 10px;
    margin-left: 10px;
    display: inline-block;
}
